<%- include('partials/head', {title: "Información" }) %>
<%- include('partials/header') %>
<p>Disco Virtual de las cátedras "Historia de las Estructuras Teatrales I" e "Historia del Teatro Occidental I, de las carreras Licenciatura en Teatro y Profesorado Universitario en Teatro respectivamente."</p>
<p>Facultad de Artes, Universidad Nacional de Tucumán</p>
<p>Prof Adjunta: MA. Marina Rosenzvaig</p>
<p>Jefe de T.P.: MA. Guillermo Katz</p>
<p>CONTACTO: <a href="mailto:historiateatro1faunt@gmail.com">historiateatro1faunt@gmail.com</a></p>
</body>
</html>