<%- include('partials/head', {title: "Información" }) %>
<%- include('partials/header') %>

<div class="jumbotron jumbotron-fluid mt-4">
    <div class="container">
        <h1 class="display-4">Disco Virtual</h1>
        <h4 style="text-align: justify">Cátedras "Historia de las Estructuras Teatrales I" e "Historia del Teatro Occidental I" de las carreras Licenciatura en Teatro y Profesorado Universitario en Teatro respectivamente.</h4>
        
        <!-- <h2 class="lead">Facultad de Artes, Universidad Nacional de Tucumán</h2> -->
        <hr class="my-4">
        <h3>Prof Adjunta: MA. Marina Rosenzvaig</h3>
        <h3>Jefe de T.P.: MA. Guillermo Katz</h3>
        <hr class="my-4">
        
        <h4>CONTACTO: <a href="mailto:historiateatro1faunt@gmail.com">historiateatro1faunt@gmail.com</a></h4>
        <article class="md-d-flex pt-3 pb-3 align-items-end text-md-start text-center">
            <a href="http://www.artes.unt.edu.ar/"><img class="w-auto h-100 p-2" src="/images/logofartes.jpg"></a>
            <a href="http://www.unt.edu.ar/"><img class="bg-dark p-2 mt-2 mb-0" width="270px" src="/images/logount.png"></a>
        </article>
        <span>Sitio desarrollado por <a class="text-dark" href="https://github.com/guillermokatz/" target="_blank">Guillermo Katz</a></span>
    </div>
  </div>

<!-- <p>Disco Virtual de las cátedras "Historia de las Estructuras Teatrales I" e "Historia del Teatro Occidental I", de las carreras Licenciatura en Teatro y Profesorado Universitario en Teatro respectivamente.</p>
<p>Facultad de Artes, Universidad Nacional de Tucumán</p>
<p>Prof Adjunta: MA. Marina Rosenzvaig</p>
<p>Jefe de T.P.: MA. Guillermo Katz</p>
<p>CONTACTO: <a href="mailto:historiateatro1faunt@gmail.com">historiateatro1faunt@gmail.com</a></p>
</body>
</html> -->