<%- include('partials/head', {title: "Información" }) %>
<%- include('partials/header') %>

<div class="jumbotron jumbotron-fluid mt-3">
    <div class="container">
        <h1 class="display-4">Disco Virtual</h1>
        <h4>Cátedras "Historia de las Estructuras Teatrales I" e "Historia del Teatro Occidental I" de las carreras Licenciatura en Teatro y Profesorado Universitario en Teatro respectivamente.</h4>
        <hr class="my-4">
        <h5>Prof Adjunta: MA. Marina Rosenzvaig</h5>
        <h5>Jefe de T.P.: MA. Guillermo Katz</h5>
        <hr class="my-4">
        
        <h4>CONTACTO: <a class="a-custom link-dark" href="mailto:historiateatro1faunt@gmail.com">historiateatro1faunt@gmail.com</a></h4>
        <article class="md-d-inline-flex pt-3 pb-3 align-items-stretch text-md-start text-center">
            <a href="http://www.artes.unt.edu.ar/" ><img class="img-custom align-bottom mb-3 mb-md-0 p-2 border" height="108" src="/images/logofartes.png"></a>
            <a href="http://www.unt.edu.ar/"><img class="img-custom d-inline-block bg-dark p-2" height="108" src="/images/logount.png"></a>
        </article>
        <small class="d-block">Iconos creados por <a class="link-dark" href="https://www.freepik.com">Freepik</a>, DinosoftLabs y <a class="link-dark" href="https://www.dariusdan.com">Darius Dan</a> obtenidos de <a class="link-dark" href="https://www.flaticon.com">www.flaticon.com</a></small>
        <span class="pb-2">Sitio desarrollado por <a class="link-dark a-custom" href="https://github.com/guillermokatz/" target="_blank">Guillermo Katz</a></span>
    </div>
  </div>

</body>
</html>